:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --text-color: #212121;
  --paragraph-color: #757575;
  --background-color-grey: #2f303a;
  --text-color-white: #ffffff;
  --color-btn: #188ce8;
  --background-color-team-filters: #f5f4fa;
  --background-color-filters: #eeeeee;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-border: #ececec;
}
/*=========УТИЛИТЫ=========*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
}

/*===============COMPONENTS==========*/
.part-logo {
  color: var(--accent-color);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: inherit;
}
.logo-link-studio {
  color: var(--text-color-white);
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.menu-list :hover,
.menu-list :focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*==============END COMPONENTS======*/
/*================HEADER================*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-border);
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo-link {
  margin-right: 93px;
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-list :hover,
.contacts-list :focus {
  color: var(--accent-color);
}

.tel-link {
  width: 122px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paragraph-color);
}
.mail-link {
  width: 135px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paragraph-color);
  margin-left: auto;
}
.contacts-list-item-mail {
  margin-right: 50px;
  margin-left: auto;
}

/*===========END HEADER============*/
/*================SECTION HERO============*/
.hero {
  background-color: var(--background-color-grey);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-color-white);
}
.modal-btn {
  height: 50px;
  padding: 10px 32px;
  margin-top: 30px;

  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-white);
  background-color: var(--accent-color);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--text-color-white);
  background-color: var(--color-btn);
}
/*===============SECTION SKILLS========*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-color);
}
.skills-list {
  display: flex;
}
.skills-description-item {
  width: 270px;
}
.skills-description-item:not(:last-child) {
  margin-right: 30px;
}

/*============END SECTION SKILLS======*/
/*===========SECTION ABOUT==========*/
.about {
  text-align: center;
}
.about-img-list {
  display: flex;

  margin-right: -30px;
}
.about-img-list-item:not(:last-child) {
  margin-right: 30px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  align-items: center;
  margin-bottom: 50px;
}

/*============END SECTION ABOUT======*/
/*===========SECTION TEAM=========*/

.team {
  text-align: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.sub-title-deskription {
  display: flex;
  margin-left: -30px;
  margin-top: 50px;
}

.team-list-item {
  width: 270px;
  background-color: var(--text-color-white);
}
.team-list-item:not(:first-child) {
  margin-left: 30px;
}
.team-list-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 10px;
  padding-top: 30px;
}
.team-list-description {
  font-size: 16px;
  line-height: 1.18;
  color: var(--paragraph-color);
}
.team {
  background-color: var(--background-color-team-filters);
}

/*=========== END SECTION TEAM=========*/
/*==========SECTION FILTERS=========*/
.filters-title {
  color: transparent;
}
.filters-list {
  display: flex;
  justify-content: center;
}
.filters-list-item:not(:last-child) {
  margin-right: 8px;
}
.filters-list-btn {
  height: 38px;
  padding: 6 22px;
  margin-bottom: 56px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-color);
  background-color: var(--background-color-team-filters);
}
.filters-list-btn:hover,
.filters-list-btn:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color);
  cursor: pointer;
}
.projects-link {
  color: var(--text-color);
}
.projects-list-title {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
  padding-left: 24px;
}
.projects-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 50px;
  padding-left: 24px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}
.projects-item {
  width: 370px;
  border-bottom: 1px solid var(--background-color-filters);
  margin-right: 30px;
  margin-top: 30px;
  background-color: var(--text-color-white);
}

/*===========END SECTION FILTERS===========*/
/*=============FOOTER=========*/
.footer {
  background-color: var(--background-color-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-info {
  display: flex;
  flex-direction: column;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
  margin-top: 20px;
}
.footer-contacts-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer-contacts-list :hover,
.footer-contacts-list :focus {
  color: var(--accent-color);
}
.footer-contacts-list-item {
  display: flex;
}
.footer-tel-link {
  color: var(--color-footer-link);
  padding-top: 9px;
}
.footer-mail-link {
  color: var(--color-footer-link);
  padding-top: 9px;
}
/*======logo,address,contacts-list in COMPONENTS===*/
/*==============END FOOTER==========*/
